header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c5ce7;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}
h1{
    font-family: 'Press Start 2P', sans-serif;
    color:#fff;
    text-shadow: 5px 5px 0 #000
} 
nav{
    text-align: right;
   }
    a {
        display: inline-flex;
        align-items: center;
        color: rgb(255, 254, 254);
        font-size: 20px;
        font-family: 'Fira Code';
        font-weight: 500;
        text-decoration:none;
        margin-right:30px;    
    }
        
    a::before {
        content:"";
        background-color: #d63031;
        width:10px;
        height:10px;
        margin-right:10px;
    }
    
    
 
    
    
    
    #button {
        display: inline-block;
        background-color: #d63031;
        height: 60px;
        line-height: 60px; 
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 5px 5px 0 black;
        margin-right: 0px;
        transition: transform 110ms linear;
    }

    #button:hover{
        transform: scale(1.1);
        color:black;
    }